# Playwright 결과물 및 리포트
/playwright-report/
/html-report/
/test-results/

# 테스트 실행 중 캡처된 스크린샷 및 비디오
/screenshots/
/videos/

# 종속성 및 환경 설정 파일
/node_modules/
.env

# 운영체제 및 에디터 불필요 파일
.DS_Store
/.idea/
/.vscode/